/*header-starrt*/
/*nav*/
*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}
.header{
    width: 1920px;
    height: 1422px;
    background-color: bisque;
    padding: 0px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
}
.nav-text{
    font-size: 45px;
    margin-top: 50px;
    margin-left: 228px;
}
nav ul{
    display: flex;
    gap: 40px;
    font-size: 25px;
    margin-top: 65px;
    margin-right: 240px;
}
nav li{
    list-style: none;
}
/*header text*/
.header-text{
    width: 862px;
    height: 225px;
    margin-left: 529px;
    margin-top: 205px;
    text-align: center;
}
.header-text1{
    font-size: 64px;
    gap: 20px;
}
.header-text2{
    font-size: 16px;
    width: 800px;
    margin-top: 17px;
}
.btn-1{
    width: 180px;
    height: 64px;
    padding: 0px;
    margin-top: 33px;
    gap: 20px;
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    background-color: orange;
}
.img-1{
    width: 1440px;
    height: 700px;
    margin-left: 240px ;
    margin-top: 100px;
}
/* header-end*/
/*image and text*/
.img4-text{
    width: 1620px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.img-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 214px;
    row-gap: 24px;
    column-gap: 24px;
    margin-left: 301px;
    margin-top: 70px;
}
.img-text{
    width: 537px;
    height: 304px;
    margin-top: 300px;
}
.img-text-1{
    font-size: 45px;
    width: 420px;
}
.clr-1{
    color: slategray;
}
.clr-2{
    color: orange;
}
.img-text-2{
    color: #727272;
    width: 537px;
    margin-top: 24px;
}
/*image and text end */
/* text-img1*/
.text-img12{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.text-img1{
    width: 586px;
    height: 982px;
    margin-left: 204px;
}

.text-img1-header{
    width: 468px;
    height: 106px;
    font-size: 45px;
}
.text-img1-pra{
    Width:586px;
    Height:78px;
    font-size: 16;
    margin-top: 24px;
}
.desktop{
    padding: 30px;
}
.desktop > h3{
    font-size: 20px;
    border-bottom: 15px;
}
.desktop > p{
    width: 514px;
    height: 78px;
}
.text-img2{
    width: 800px;
    height: 1059px;
}
/*btn*/
.experience{
    position: absolute;
    margin-top: -180px;
    margin-left: 922px;
}
.btn-2{
    width: 258px;
    height: 150px;
    font-size: 35px;
    color: aliceblue;
    background-color: orange;
    border: 0px;
    border-radius: 5px;
}
/*end btn*/
/*some fact*/
.some-fact{
    margin-left: 240px;
}
.h-some{
    width: 258px;
    height: 53px;
    font-size: 45px;
    margin-bottom: 24px;
}
.p-some{
    width: 542px;
    height: 52px;
    font-size: 16px;
}
/*end*/
/*icon*/
.icons{
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    column-gap: 124px;
    margin-left: 290px;
    margin-top: 100px;
}
.icon-1{
    width: 169px;
    height: 136.22px;
    padding: 35px;
    border: 2px solid orange;
    border-radius: 5px;
}
/*end*/
/*sponspors*/
.sponspors{
    width: 542px;
    height: 129px;
    position: absolute;
    margin-left: 689px;
    margin-top: 385px;
    text-align: center;
}
.h-spon{
    font-size: 45px;
    margin-bottom: 24px;
}
.p-spon{
    width: 542px;
    height: 52px;
    text-align: center;
    color: #727272;
}
/*end*/
/*last img*/
.last-img{   
    margin-top: 685px;
    margin-left: 240px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
/*end*/
.footer{
    width: 1440px;
    height: 100px;
    margin-top: 150px;
    margin-bottom: 250PX;
    margin-left: 240PX;
    background-color: bisque;
}
.footer-text{
    width: 620px;
    height: 23px;
    margin-left: 410px;
    margin-top: 39px;

    text-align: center;
    align-items: center;
}
/*all end*/
